

.themmoi-box{
    background: #fff;
    min-width: 650px;
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,.2), 1px -1px 2px rgba(0,0,0,.07), 0 -1px 2px rgba(0,0,0,.1);
} 


.form-wrapper{
    position: relative;
    padding: 20px;
}

.role-name-input{
    width: 100%;
    outline: 0;
    padding: 0 15px;
    height: 42px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.all-role{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.permission-group{
    display: flex;
    margin-top: 0;
}

.permission-group>div:first-child{
    max-width: 200px;
    min-width: 200px;
}

.permission-item{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.permission-group .permission-item>span {
    width: calc(25% - 15px);
    min-width: calc(25% - 15px);
}

.permission-footer{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.permission-footer .btn {
    width: 80px;
    font-size: 14px;
    margin: 0 5px;
    border-radius: 5px;
}

.permission-footer .btn-primary{
    color: #663B16;
    background: #fff;
    border-color: #663B16;
}

.permission-footer .btn-primary:hover{
    color: #fff;
    background: #663B16;
    border-color: #663B16;
}